.dashhead
  .dashhead-titles
    %h6.dashhead-subtitle Subreddits
    %h2.dashhead-title= @topic.subreddit_name

.row.statcards
  .col-md-6.col-xl-3.mb-3.mb-md-4.mb-xl-0
    .statcard.statcard-success
      .p-3
        %span.statcard-desc Active Users
        %h2.statcard-number= number_with_delimiter @topic.active_user_count
  .col-md-6.col-xl-3.mb-3.mb-md-4.mb-xl-0
    .statcard.statcard-danger
      .p-3
        %span.statcard-desc Subscribers
        %h2.statcard-number= number_with_delimiter @topic.subscribers
  .col-md-6.col-xl-3.mb-3.mb-md-4.mb-xl-0
    .statcard.statcard-info
      .p-3
        %span.statcard-desc Activity Ratio
        %h2.statcard-number= percentage @topic.activity_ratio

.row.mt-5
  .col-md-12
    %canvas#historical-chart{data: {points: @chart_data.data.to_s.html_safe, labels: @chart_data.labels.to_s.html_safe}}
